<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
    <style>
        a { text-decoration: none; }
        a:hover { text-decoration: none; color: white; }
        .container { font-weight: normal; }
    </style>
</head>
<body>
    <div class="container" style="text-align:center;">
        <table style="text-align: center; width: 100%;" class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Body</th>
                    <th>Created</th>
                    <th>Modified</th>
                    <th>&nbsp</th>
                </tr>
            </thead>
            <tbody style="font-weight: lighter;">
                <% for(let i = 0; i < posts.length; i++) { %>
                  <tr>
                    <td><%= posts[i].title %></th>
                    <td><%= posts[i].body %></th>
                    <td><%= posts[i].created %></th>
                    <td><%= posts[i].modified %></th>
                  </tr>
                <% } %>
            </tbody>
        </table>
        <% if(hasNext) { %>
            <a href="/blog/<%= username %>?start=<%= nextPostid %>" class="btn btn-outline-primary" id="next">Next</a>
        <% } %>
    </div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>